* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: LINEAR-GRADIENT(45DEG, #EEEEEE, #FAF8F9, #FFFFFF);
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
    min-height: 100vh;
    display: flex;
    margin-bottom: 0;
}

.sideBar{
  flex: 3;
  border-right: 1px solid black;
}

.logo{
    display: flex;
    padding-left: 5rem;
    min-height: 5vmin;
    height: 10vmin;
    margin-right: 1rem;
}

.brand{
    font-size: 2rem;
    font-style: normal;
}

.upperSide{
    padding: 2rem;
    border-bottom: 1px solid black;
    height: 70%;
}

.upperSideTop{
  display: flex;
  align-items: center;
  margin: 2.5rem;
}

.addBtn{
  height: 2.5rem;
  padding-right: 1rem;
}

.midBtn{
    background: #bae5ff;
    border: none;
    color: black;
    padding: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 0 auto 3rem;
}
.query{
    display: flex;
    align-items: center;
    background: transparent;
    color: #3f3f3f;
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.query>img{
    margin-right: 2rem;
    object-fit: cover;
    height: 1.75rem;
}

.lowerSide{
    padding: 2rem;
}

.listItems{
    margin: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}


.listItemsImg{
    margin-right: 1rem;
    padding-right: 1rem;
    height: 4rem;
}

.listItems:nth-child(1)>.listItemsImg{
    margin-right: 0.5rem;
}

.listItems:nth-child(3)>.listItemsImg{
    margin-right: 0.75rem;
}

.main {
    flex: 9;
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    aling-items: center;
    margin: 6rem 10rem;
}

.chats {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 80rem;
    height: calc(100vh - 17rem);
}

.chat {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.6rem;
    line-height: 1.75rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.chatImg {
    object-fit: cover;
    width: 3.5rem;
    border-radius: 0.5%;
    padding-right: 0.5rem;
}

.bot {
    background: #bae5ff; /*EEF5FF*/
    width: fit-content;
    border-radius: 0.5rem;
}

.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp {
    padding: 0.5rem;
    background: #bae5ff;
    display: flex;
    align-items: center;
    border-radius: 2.3rem;
    width: 80rem;
    margin: 0;
}

.inp>input {
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.25rem;
    color: black;
    font-size: 1.6rem;

}
.inp>input, .send{
    background: transparent;
    border: none;
}

.chatFooter>p{
    margin: 2rem 0;
}
/*}*/
/*.App-link {*/
/*  color: #61dafb;*/
/*}*/